body {
  color: black;
  background-color: white;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

.col-sm-4 {
  margin-bottom: 40px;
}

.col-sm-7 {
  margin-bottom: 40px;
  margin-right: 10px;
}


 /*Products*/

 iframe {
   width:75%;
 }

 #products .container {
   display: flex;
   justify-content:space-between;
   width: 100%;
   margin-bottom: 15px;

 }

 .item {
  border-width: thin;
  border-style: solid;
  border-color: green;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  height: 200px;
  margin-right: 15px;
  width: 620px;

}

.zoom:hover {
    transform: scale(1.25);
}



/*--Fun--*/

#fun .container {
display: flex;
flex-direction: column;
}

#fun h2{
  text-align: center;
  font-style: italic;
}

#fun img:hover {
  opacity: 0.5;
}

.borderbox {
  border-width:thin;
  border-style: solid;
  border-color: black;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}


/*footer*/
footer {
text-align: center;
margin-bottom: 20px;
}


@media screen and (max-width: 700px) {

.col-sm-4 img {
  width: 85%;
  height: auto;
}



#products .container {
  flex-direction: column;
  justify-content: space-around;
}

.item {
  margin-bottom: 5px;
  height: 150px;
  width: 340px;
}

.item img {
  width: 150px;
  height: 150px;
}

body {
  font-size: 16px;
}

.blockquote-reverse {
  font-size: 14px;
}

#about .btn {
margin-left: 25px;
}

iframe {
  width: 320px;
  text-align: center;
}


}
